@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

.logos {
  border-top: 0.2px solid gainsboro;
}
.row-logo {
  text-align: center;
}
h2 {
  font-weight: bold;
}
/* p {
  color: #9497a1;
  font-size: 18px;
  font-weight: 400px;
  line-height: 33px;
  font-family: "open sans";
} */
span {
  font-weight: bold;
}
/* .header {
  max-width: 75%;
  margin-left: 100px;
} */
.style {
  background-color: #f0f9ff;
}
.style-h2 {
  margin-left: 500px;
  max-width: 300px;
}
.style-section {
  margin-right: 600px;
  max-width: 300px;
}

.style-p {
  text-align: center;
  color: #9497a1;
  margin-left: 400px;
  max-width: 400px;
  height: 99px;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}
.style-btn {
  border: 1px solid #f1f6fa;
  border-radius: 6px;
  padding: 0 10px;
}
.btn-btn {
  margin-left: 45%;
}
.btn-stlyle {
  border: 1px solid #f1f6fa;
  border-radius: 6px;
  padding: 0 10px;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.card {
  border: none;
}
.style-icon {
  background-color: #f1f6fa;
  border: 1px solid #f1f6fa;
  margin-left: 15px;
  border-radius: 10px;
  padding: 3px 15px;
}
.division {
  background-color: #185cff;
  display: flex;
  align-items: center;
}
.division .border-end {
  height: 10vh;
}
.conttact {
  background-color: #f1f6fa;
}
.title {
  letter-spacing: -0.015em;
  font-size: 38px;
  font-family: "Manrope";
  font-weight: 700;
  width: 65%;
  line-height: 50px;
}
.par {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.015em;
  font-weight: 400;
  font-family: "open sans";
  width: 60%;
}
.email-tel {
  line-height: 28px;
  font-family: "open sans";
  font-size: 16px;
  letter-spacing: -0.015em;
  font-weight: 700;
  color: #292d33;
}
.contact-style {
  margin: 0;
  line-height: 28px;
  font-size: 16px;
  letter-spacing: -0.015em;
}
.card-title {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 40px;
  color: #292d33;
  letter-spacing: -0.015em;
}
label {
  font-family: "open Sans";
  color: #9497a1;
  font-size: 12px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.015em;
}
.form-division {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}
.form-division label {
  margin-bottom: 10px;
}
.form-division input {
  outline: none;
  border: none;
  border-bottom: 1px solid black;
}

.submit {
  margin-left: 60%;
  padding: 8px 30px;
}
.Subscribe {
  font-family: "Manrope";
  font-weight: 800;
  font-size: 38px;
  line-height: 56px;
  letter-spacing: -0.015em;
  color: #fff;
}
.Sed {
  width: 395px;
  font-family: "open Sans";
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.015em;
  line-height: 33px;
  color: #fff;
}
.input-group input {
  background-color: #c9dcec;
}
.input-group input::placeholder {
  color: black;
}
/****** responsive ******/
@media (max-width: 576px) {

  .Home img,
  .Page img {
    width: 354px;
    height: 224px;
  }
  .style-h2 {
    margin-left: 0;
    text-align: center;
    width: 100%;
  }
  .style-p {
    margin-left: 0;
    width: 100%;
    text-align: center;
  }
  .style-style {
    margin-right: 0;
  }
  .style-section{
    margin-right: 0;
    width: 100%;
  }
  .Sed{
    width: 100%;
  }
}
